@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
  --main-bg: #ffffff;
  --main-color: #333333;
  --active-color: rgb(44, 158, 154);
}
body {
  padding: 0;
  background-color: var(--main-bg);
  color: var(-main-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: aliceblue;;
}
.weather_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.weather_loading svg {
  display: inline-block;
  font-size: 4rem;
}